body {
    background: purple; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, blue , red); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, blue, red); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, blue, red); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, blue , red); /* Standard syntax */
  }


h2 {
    text-align: center;
    padding-bottom: 1em;
}


h4{
font-family: 'Permanent Marker', sans-serif;
font-size:2em;
line-height:1.5em;
}


#link-list{
font-family: 'Permanent Marker', sans-serif;
font-size:2em;
line-height:1.5em;
}




.miniposter{
  background: yellow;
}

}
.fa {
  cursor: pointer;
  padding-left: 3px;
}



/*//////////////////FOR MINI-POSTER */
.from-people{
  position: relative;
  float: left;
  width: 300px;
  height: 300px;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.from-people .poster{
  padding-top:25px;
  font-size: 1.5em;
  line-height: 1.25em;
}

.from-people .poster-actions{
  position: absolute;
		bottom: 0;
    float:right;
    right: 0;
}


/*//////////////////FROM THE MEDIA */




/* Main Section */
#main {
  margin-top: 20px;
}

/* Individual Article Styling */
.article {
  border-bottom: 1px solid #ccc;
  transition: 0.2s all;
}

.article:hover {
  padding: 0 2%;
  background-color: #eee;
}

.article .featuredImage {
  width: 12%;
  float: left;
  margin: 1.5%;
  max-width: 60px;
}

.article .featuredImage img {
  max-width: 100%;
  border-radius: 50px;
}

.article .articleContent {
  width: 70%;
  float: left;
}

.article .articleContent a {
  text-decoration: none;
}

.article .articleContent h3 {
  margin-bottom: 0;
  color: blue;
}


/*four colors for four news sources*/
.article .articleContent .nytimes-color h3 {
  margin-bottom: 0;
  color: blue;
}


.article .articleContent .cnn-color h3 {
  margin-bottom: 0;
  color: #5100AE;
}

.article .articleContent .fox-color h3 {
  margin-bottom: 0;
  color: #B40048;
}

.article .articleContent .breitbart-color h3 {
  margin-bottom: 0;
  color: red;
}



.article .articleContent h6 {
  margin-top: 0;
  color: #666;
}

.article .impressions {
  width: 15%;
  float: right;
  font-size: 30px;
  margin-top: 15px;
  text-align: right;
  color: #097FB2;
}
